{% load i18n %}{% load static %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{% trans 'All Contacts' %}</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-delete fa-sm text-white-50"></i> Delete</a>
</div>

<div class="row align-items-start">
    <div class="col-sm">
        <table id="contact-table" class="display">
        </table>
    </div>
</div>
<script>
    $(function() {
        $('#contact-table').DataTable({
            'ajax' : {
                        'url' : '/contacts/all.json',
                        'dataSrc' : ''
            },
            'columns' : [
              { data : 'name', title : "Name"},
              { data : 'region', title : "City/County"},
              { data : 'country', title : "Country" }
            ]
        });
    });
</script>
