<!-- Sidebar -->{% load i18n %}{% load static %}
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			  <!-- Sidebar - Brand -->
			  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
				<div class="sidebar-brand-text mx-3">OpenCrunch</div>
			  </a>

			  <!-- Divider -->
			  <hr class="sidebar-divider my-0">

			  <!-- Nav Item - Dashboard -->
			  <li class="nav-item active">
				<a class="nav-link load-main" href="/dashboard/">
				  <i class="fas fa-fw fa-tachometer-alt"></i>
				  <span>{% trans "Dashboard" %}</span></a>
			  </li>

			  <!-- Divider -->
			  <hr class="sidebar-divider">

			  <!-- Heading -->
			  <div class="sidebar-heading">
				{% trans "Organiser" %}
			  </div>

			  <!-- Nav Item - Contacts Collapse Menu -->
			  <li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
				  <i class="fas fa-fw fa-id-card"></i>
				  <span>{% trans "Contacts" %}</span>
				</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				  <div class="bg-white py-2 collapse-inner rounded">
				    <h6 class="collapse-header">People and Businesses</h6>
					<a class="collapse-item" href="#"><i class="fas fa-fw fa-user-circle"></i> <span>{% trans "Staff" %}</span></a>
					<a class="collapse-item" href="#"><i class="fas fa-fw fa-shopping-basket"></i> <span>{% trans "Customers" %}</span></a>
					<a class="collapse-item" href="#"><i class="fas fa-fw fa-truck"></i> <span>{% trans "Suppliers" %}</span></a>
				    <a class="collapse-item" href="#"><i class="fas fa-fw fa-plus-circle"></i> <span>{% trans "New Contact" %}</span></a>
				    <a class="collapse-item load-main" href="/contacts/"><i class="fas fa-fw fa-bars"></i> <span>{% trans "Browse All" %}</span></a>
				  </div>
				</div>
			  </li>

			  <!-- Nav Item - Budgets Collapse Menu -->
			  <li class="nav-item">
				<a class="nav-link" href="#">
				  <i class="fas fa-fw fa-chart-bar"></i>
				  <span>{% trans "Budgets" %}</span>
				</a>
			  </li>

			  <!-- Divider -->
			  <hr class="sidebar-divider">

			  <!-- Heading -->
			  <div class="sidebar-heading">
				{% trans "Accounts" %}
			  </div>

			  <!-- Nav Item - Payable -->
			  <li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayable" aria-expanded="true" aria-controls="collapsePayable">
				  <i class="fas fa-fw fa-file-invoice"></i>
				  <span>{% trans "Purchases" %}</span></a>
				  <div id="collapsePayable" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				    <div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Payable</h6>
						<a class="collapse-item" href="#"><i class="fas fa-fw fa-plus-circle"></i> <span>{% trans "New" %}</span></a>
						<a class="collapse-item" href="#"><i class="fas fa-fw fa-bars"></i> <span>{% trans "Browse All" %}</span></a>
				    </div>
				</div>
			  </li>

			  <!-- Nav Item - Receivable -->
			  <li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReceivable" aria-expanded="true" aria-controls="collapseReceivable">
				  <i class="fas fa-fw fa-file-invoice"></i>
				  <span>{% trans "Receivable" %}</span></a>
				  <div id="collapseReceivable" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				    <div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Payable</h6>
						<a class="collapse-item" href="#"><i class="fas fa-fw fa-plus-circle"></i> <span>{% trans "New" %}</span></a>
						<a class="collapse-item" href="#"><i class="fas fa-fw fa-bars"></i> <span>{% trans "Browse All" %}</span></a>
				    </div>
				</div>
			  </li>

			  <!-- Nav Item - Bank -->
			  <li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBank" aria-expanded="true" aria-controls="collapseBank">
				  <i class="fas fa-fw fa-university"></i>
				  <span>{% trans "Bank" %}</span></a>
				  <div id="collapseBank" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				    <div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Bank Accounts</h6>
				    </div>
				</div>
			  </li>

			  <!-- Divider -->
			  <hr class="sidebar-divider">

			  <!-- Heading -->
			  <div class="sidebar-heading">
				{% trans "Extra" %}
			  </div>

			  <!-- Nav Item - Reports -->
			  <li class="nav-item">
				<a class="nav-link" href="#">
				  <i class="fas fa-fw fa-file-contract"></i>
				  <span>{% trans "Reports" %}</span></a>
			  </li>

			  <!-- Nav Item - Settings -->
			  <li class="nav-item">
				<a class="nav-link" href="#">
				  <i class="fas fa-fw fa-cog"></i>
				  <span>{% trans "Settings" %}</span></a>
			  </li>

			  <!-- Divider -->
			  <hr class="sidebar-divider d-none d-md-block">

			  <!-- Sidebar Toggler (Sidebar) -->
			  <div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			  </div>

			</ul>
			<!-- End of Sidebar -->
