{% load i18n %}{% load static %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ request.user.entity.name }}</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-delete fa-sm text-white-50"></i> Delete</a>
</div>

<div class="row align-items-start">
    <div class="col-sm-4 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">User Details</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-edit fa-sm fa-fw text-gray-600"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body user-details loose-table">
                <div class="row">
                    <div class="col-sm">Notification Email</div>
                    <div class="col-sm">{{ request.user.email }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">Groups</div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm">Last Seen</div>
                    <div class="col-sm">{{ request.user.last_login }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Contact Details</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-edit fa-sm fa-fw text-gray-600"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body entity-details loose-table">
                <div class="row">
                    <div class="col-sm-3 profile-photo">
                        <img src="{% static 'img/' %}{{ request.user.entity.photo.url }}" />
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm">Name</div>
                            <div class="col-sm">{{ request.user.entity.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">Street Address</div>
                            <div class="col-sm">{{ request.user.entity.address }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">Town / Village</div>
                            <div class="col-sm">{{ request.user.entity.locality }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">City/County</div>
                            <div class="col-sm">{{ request.user.entity.region }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">Postcode</div>
                            <div class="col-sm">{{ request.user.entity.postcode }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">Country</div>
                            <div class="col-sm">{{ request.user.entity.country }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">Local time</div>
                            <div class="col-sm">{{ request.user.entity.timezone }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">Phone Numbers</div>
                            <div class="col-sm">
                                {% for n in request.user.entity.phonenumber_set.all %}
                                <table class="contact-number">
                                    <tr><td>+{{ n.countryCode }}</td><td>{{ n.number }}</td></tr>
                                    <tr><td colspan="2">
                                        <i class="fas fa-fw fa-sms" data-toggle="tooltip" title="SMS"></i>
                                        <i class="fas fa-fw fa-video" data-toggle="tooltip" title="Video Call"></i>
                                        <i class="fas fa-fw fa-fax" data-toggle="tooltip" title="Fax"></i>
                                        <i class="fas fa-fw fa-signal" data-toggle="tooltip" title="Cell/Mobile"></i>
                                        <i class="fas fa-fw fa-text" data-toggle="tooltip" title="Textphone"></i>
                                        <i class="fab fa-fw fa-whatsapp" data-toggle="tooltip" title="WhatsApp"></i>
                                        <i class="fab fa-fw fa-telegram" data-toggle="tooltip" title="Telegram"></i>
                                        <i class="fas fa-fw fa-comment" data-toggle="tooltip" title="Signal"></i>
                                    </td></tr>
                                </table>
                                {% endfor %}
                                <script>$('.contact-number tr td i').tooltip()</script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">Email &amp; Messaging</div>
                            <div class="col-sm">
                                {% for m in request.user.entity.mailmessageaddress_set.all %}
                                <table class="contact-number">
                                    <tr><td>{{ m.address }}</td></tr>
                                    <tr><td colspan="2">
                                        <i class="fas fa-fw fa-envelope-square" data-toggle="tooltip" title="Email"></i>
                                        <i class="fab fa-fw fa-facebook" data-toggle="tooltip" title="Facebook"></i>
                                        <i class="fab fa-fw fa-twitter" data-toggle="tooltip" title="Twitter"></i>
                                        <i class="fab fa-fw fa-instagram" data-toggle="tooltip" title="Instagram"></i>
                                        <i class="fab fa-fw fa-linkedin" data-toggle="tooltip" title="Linked In"></i>
                                        <i class="fas fa-fw fa-question-square" data-toggle="tooltip" title="{{ m.other }}"></i>
                                    </td></tr>
                                </table>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
