.bg-login-image {
    background: url("../img/jude-beck-41uCnC2RDck-unsplash.jpg");
    background-position: left;
    background-size: cover;
}

.img-profile {
    background-size: cover;
}

.profile-photo img {
    width: 100%;
    padding: 0.2em;
    border: 1px solid #ddd;
}

.loose-table {
    
}

.loose-table .row {
    padding: 0em;
    border-bottom: 1px solid #ddd;
    margin: 0.5em;
    padding-bottom: 0.5em;
}

.loose-table .row div {
    
}

.loose-table .row div:first-child{
    font-weight: bold;
}

#contact-table {
    width: 100;
}



