<!DOCTYPE html>{% load i18n %}{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% load crispy_forms_tags %}
        <title>{% trans "OpenCrunch Financial - Login" %}</title>
        <!-- General -->
        <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="">
          <meta name="author" content="OpenCrunch">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">

        <!-- Datatables -->
        <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.css' %}" />

        <!-- Fontawesome -->
        <link rel="stylesheet" href="{% static 'css/fontawesome/all.css' %}" />

        <!-- Bootstrap theme - SB - https://github.com/BlackrockDigital/startbootstrap-sb-admin-2 -->
        <link href="{% static 'css/sbadmin/sb-admin-2.css' %}" rel="stylesheet" type="text/css">

        <!-- OpenCrunch styles -->
        <link href="{% static 'css/oc.css' %}" rel="stylesheet" type="text/css" />

    </head>
    <body class="bg-gradient-primary">
    
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

              <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                      <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                      <div class="col-lg-6">
                        <div class="p-5">
                          <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                          </div>
                          <!--<form class="user" method="post" action="{% url 'ocfinance:login' %}">-->
                            {% csrf_token %}
                            {% crispy form %}
                            <!--<div class="form-group">
                              <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                              </div>
                            </div>-->
                          <hr>
                          <div class="text-center">
                            <a class="small load-modal-reset" href="{% url 'ocfinance:password_reset' %}">Forgot Password?</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="pwResetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Reset Password</button>
              </div>
            </div>
          </div>
        </div>
    
        <script src="{% static 'js/jquery/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/jquery-easing/jquery.easing.js' %}"></script>
        <script src="{% static 'js/chart.js/Chart.js' %}"></script>
        <script src="{% static 'js/sbadmin/sb-admin-2.js' %}"></script>
        <script src="{% static 'js/oc.js' %}"></script>
        

    </body>
</html>
