<!DOCTYPE html>{% load i18n %}{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% load crispy_forms_tags %}
        <title>{% trans "OpenCrunch Financial - Password Reset" %}</title>
        <!-- General -->
        <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="">
          <meta name="author" content="OpenCrunch">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">

        <!-- Datatables -->
        <link rel="stylesheet" href="{% static 'css/datatables/dataTables.bootstrap4.css' %}" />

        <!-- Fontawesome -->
        <link rel="stylesheet" href="{% static 'css/fontawesome/all.css' %}" />

        <!-- Bootstrap theme - SB - https://github.com/BlackrockDigital/startbootstrap-sb-admin-2 -->
        <link href="{% static 'css/sbadmin/sb-admin-2.css' %}" rel="stylesheet" type="text/css">

        <!-- OpenCrunch styles -->
        <link href="{% static 'css/oc.css' %}" rel="stylesheet" type="text/css" />

    </head>
    <body class="bg-gradient-primary">
    
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

              <div class="col-xl-8 col-lg-8 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center">
                      <div class="col-lg-16">
                        <div class="p-5">
                          <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{% trans 'Done' %}</h1>
                          </div>
                            <p class="text-center">Password Reset Complete</p>
                            <p class="text-center"><a href="{% url 'ocfinance:framework' %}">Sign in</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

    
        <script src="{% static 'js/jquery/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/jquery-easing/jquery.easing.js' %}"></script>
        <script src="{% static 'js/chart.js/Chart.js' %}"></script>
        <script src="{% static 'js/sbadmin/sb-admin-2.js' %}"></script>

        

    </body>
</html>
